<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <h1><img src="../img/car.png"></img></h1>
    <h2>AIK Portal</h2>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Buy a Vehicle</h3>
        </div>
        <div class="panel-body text-center">
          <h1><span class="glyphicon glyphicon-shopping-cart"></span></h1>
        </div>
        <div class="panel-footer small">
          <a href="/buycars" class="btn btn-block btn-primary">I want a AIK</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Vehicles</h3>
        </div>
        <div class="panel-body text-center">
          <h1><img src="../img/car24dp2.png"></img></h1>
        </div>
        <div class="panel-footer small">
          <a href="/vehicles" class="btn btn-block btn-primary">View Latest Models</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Support to a Vehicle</h3>
        </div>
        <div class="panel-body text-center">
          <h1><img src="../img/support24dp2.png"></src></h1>
        </div>
        <div class="panel-footer small">
          <a href="/support" class="btn btn-block btn-primary">View Support</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Experience AIK</h3>
          </div>
          <div class="panel-body text-center">
            <h1><img src="../img/support24dp2.png"></src></h1>
          </div>
          <div class="panel-footer small">
            <a href="/pending" class="btn btn-block btn-primary">TODO</a>
          </div>
        </div>
      </div>
  </div>
</div>

</body>
</html>