<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1><img src="../img/car24dp2.png"></img></h1>
    <h2>Our Latest Vehicles</h2>
  </div>

  <div class="row">
  <% vehicles.forEach(function(vehicle, index) { %>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><%= vehicle.name %></h3>
        </div>
        <div class="panel-body text-center">
          <img class="img-circle" src="<%= vehicle.avatar %>" />
        </div>
        <div class="panel-footer small">
          <p>Overview: <%= vehicle.description %>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</div>

  </body> 
</html>